<html>

<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="modules/mediasoupclient.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.8/EventEmitter.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/scripts/RoomClient.js"></script>
    <script type="text/javascript" src="/scripts/frontScript.js"></script>
    <script type="text/javascript">
        IsLogedIn();
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet">
		<script src="https://vjs.zencdn.net/7.5.5/video.js"></script>
    <style>
        .settings {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 2px;
            cursor: pointer;
        }

        .hidden {
            display: none
        }
    </style>
</head>

<body>
    
    <!--                NAVIGATION BAR                              -->
    <nav>
        <p>Welcome to ScaleMyVisio WebConference</p>
    </nav>
    
    

    <!--                LOGIN SECTION                               -->
    <!--<div id="centerLogin" class="hidden">-->
        <div id="login" >
            <h1>Home</h1>
            <div class="textbox">
                <i class="fas fa-search-location"></i>
                <input id="roomidInput" name="roomId" value="" type="text" placeholder="Room" />
            </div>
            <!--<button id="createRoom" onclick="createRoom(roomid.value)" label="createRoom">Create Room</button>-->
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input id='nameInput' value="" name="name" type="text"  placeholder="UserName" />
            </div>
            <div id="startButtons">

                
                <button id='joinButton' name="redirect" onclick="JoinRoom(nameInput.value,roomidInput.value,sessionStorage.getItem('Id'));Room_update_loc(nameInput.value,roomidInput.value)">Join Visioconf</button>
                <button id='joinStreaming' name="redirect" onclick="JoinStream(nameInput.value,roomidInput.value,sessionStorage.getItem('Id') )"> Join Streaming</button>
                <button id='createButton' name="redirect" onclick="creatRoom(nameInput.value,roomidInput.value,sessionStorage.getItem('Id'));Room_update_loc(nameInput.value,roomidInput.value)" type="submit">Create Room</button>
                
            </div>
        </div>
        
       
        <button id="btn" onclick="exit()" ><span class="noselect"> </a> Disconnect </span><div id="circle"></div></button>
   




    
    
    
    
    <script type="text/javascript">


</script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        // Mon code Javascript
        var email = sessionStorage.getItem('email');
        var payload = {
        email: email
        };

        var Id = sessionStorage.getItem('Id');
        if(!Id){   
        SendRequest(payload,"/infoRequest");}

        //var inRoom = sessionStorage.getItem('inRoom');
        
        sessionStorage.setItem('inRoom',0)
      </script>

</body>



<footer>
    <script src="/scripts/index.js"></script>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
        </script>
</footer>

</html>